body {
  background-color: #202632;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

header {
  position: relative;
  width: 477px;
  height: 300px;
  background-color: #313a49;
  border-radius: 10px;
  padding: 2em;
  text-align: center;
}

.header-title {
  text-align: center;
  padding: 1em 3em 1em 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: #54fda8;
  margin-bottom: 0.7em;
}

.advice-text {
  font-size: 1.56em;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.pattern-divider {
  margin-top: 1em;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}

.dice {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -35px;
  left: 44.2%;
  background-color: #54fda8;
  border: none;
  padding: 1.5em;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}

.dice:hover {
  background-color: #fd8154;
  transform: rotate(25deg);
}

.dice:active {
  background-color: #54fda8;
  padding: 1em;
  box-shadow: 0px 0px 15px #fd8154;
  left: 45.4%;
}

@media only screen and (max-width: 480px) {
  header {
    width: 280px;
    height: 260px;
  }

  .header-title {
    font-size: 20px;
  }

  .advice-text {
    font-size: 16px;
  }

  .pattern-divider {
    max-width: 300px;
  }

  .dice {
    left: 40.8%;
  }

  .dice:active {
    left: 42.7%;
  }
}
