body {
  background-color: #202632;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

header {
  position: relative;
  width: 477px;
  height: 300px;
  background-color: #313a49;
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  margin-top: 1em;
}

.header-title {
  text-align: center;
  padding: 1em 3em 1em 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: #54fda8;
  margin-bottom: 0.7em;
}

.advice-text,
.dark-advice-text {
  font-size: 1.56em;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.dark-advice-text {
  color: #00192e;
}

.pattern-divider {
  margin-top: 1em;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}

.dice {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -35px;
  left: 44.2%;
  background-color: #54fda8;
  border: none;
  padding: 1.5em;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

.dice:hover {
  background-color: #fd8154;
  transform: rotate(180deg);
}

.dice:active {
  background-color: #54fda8;
  padding: 1em;
  box-shadow: 0px 0px 15px #fd8154;
  left: 45.4%;
}

.dark-class {
  transition: 0.3s ease-in-out;
  background-color: rgb(230, 230, 230);
}

.header-class {
  transition: 0.1s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.modes {
  text-align: center;
  color: whitesmoke;
}

.dark-title {
  color: #00192e;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 51px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00192e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00192e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  header {
    width: 280px;
    height: 260px;
  }

  .header-title {
    font-size: 1.2em;
  }

  .advice-text,
  .dark-advice-text {
    font-size: 1em;
  }

  .pattern-divider {
    max-width: 300px;
  }

  .dice {
    left: 40.8%;
  }

  .dice:active {
    left: 42.7%;
  }
}
